.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    transition: background-color 0.3s ease-in-out;
    background-color: transparent;
    color: white;
  }
  
  .navbar.hidden {
    top: -200px;
  }
  
  .navbar:not(.hidden) {
    background-color: #2c3e50;
  }
  